* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.stars {
    position: absolute;
}

.hills {
    position: absolute;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.container h1 {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
.countdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.countdown div {
    margin: 10px;
}

.countdown p {
    width: 100px;
    padding: 15px 20px;
    background-color: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
    font-size: 46px;
    border-radius: 5px;
}

.countdown h3 {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 15px;
    font-size: 10px;
}

.socials {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.socials ul {
    display: flex;
}

.socials ul li {
    margin: 0 20px;
}

body {
    background-color: hsl(235, 16%, 14%);
}

@media (max-width: 500px) {
    .container {
        max-width: auto;
        padding: 0 20px;
    }

    .container h1 {
        text-align: center;
    }
    .countdown {
        flex-wrap: wrap;
    }
}
@media (min-width: 1440px) {
    .stars img,
    .hills img {
        width: 1600px;
    }
}

@media (min-width: 1600px) {
    .stars img,
    .hills img {
        width: 1920px;
    }
}
